html
    overflow-y: scroll

body
    font: 1em "Open Sans", sans-serif
    margin: 0
    background-image: url("../resources/muemling.jpg")
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover

.table-main 
    

.table-row
    

.table-column
    

.table-spacer
    height: 10px

.wrapper-main
    width: 1000px
    margin: 0 auto

.header-main
    background-image: url("../resources/header.png")
    background-repeat: no-repeat
    height: 200px

    a
        display: block
        height: 100%

.nav-main 
    background-color: #000
    width: 100%
    height: 70px
    color: #fff

    .logo
        float: left
        height: 40px
        padding: 15px 30px
        font-size: 1.4em
        line-height: 40px
        text-decoration: none
        color: #fff
        text-transform: uppercase

        &:hover
            background-color: #444

.nav-main
    > ul
        margin: 0
        padding: 0
        float: left
        list-style-type: none

        > li
            float: left

.nav-item
    display: inline-block
    padding: 15px 20px
    height: 40px
    line-height: 40px
    color: #fff
    text-decoration: none

    &:hover
        background-color: #444

    &:focus
        background-color: #444
        ~ .nav-content
            max-height: 400px
            transition: max-height 0.4s ease-in

.nav-content
    position: absolute
    top: 270px
    overflow: hidden
    background-color: #222
    max-height: 0

    a
        color: #fff
        text-decoration: none

        &:hover
            text-decoration: underline

.nav-sub
    padding: 20px

    ul
        padding: 0
        margin: 0
        list-style-type: none

        a
            display: inline-block
            padding: 5px 0

.content-main
    background-color: #fff
    padding: 30px

.footer-main
    background-color: #000
    width: 100%
    height: 70px
    color: #fff

.footer-main
    > ul
        margin: 0
        padding: 0
        float: right
        list-style-type: none

        > li
            float: left

.footer-item
    display: inline-block
    padding: 15px 20px
    height: 40px
    line-height: 40px
    color: #fff
    text-decoration: none

    &:hover, &:focus
        background-color: #444

.contact-main
    line-height: 150%

    td
        padding-right: 40px

.login-main
    td
        padding-right: 40px

    input[type="submit"]
        padding: 10px

@media (max-width: 1000px)
    body
        background: none