html
    overflow-y: scroll

body
    font: 1em "Open Sans", sans-serif
    margin: 0
    color: #444

input[type="submit"]
    padding: 10px

.table-inline-heading
    font-weight: bold
    font-size: 1.4em

.wrapper-main
    margin: 0 auto

.container
    padding: 20px
    background-color: #f6f6f6
    border: 1px solid #444
    border-radius: 5px

.container-nostyle
    padding: 20px

.container-small
    padding: 10px
    background-color: #f6f6f6
    border: 1px solid #444
    border-radius: 3px

.container-small-nostyle
    padding: 10px

.flex-container
    padding: 0
    margin: 0
    list-style: none

    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex

    -webkit-flex-flow: row wrap
    justify-content: space-around

.spacer
    height: 75px

.spacer-small
    height: 10px

.flush-top
    margin-top: 0

.flush-bottom
    margin-bottom: 0

.content-right
    text-align: right

.content-center
    text-align: center

.fixed
    position: fixed

header, nav
    background-color: #444
    color: #fff

header
    height: 35px
    
    a
        width: 350px
        height: 35px
        diplay: block
        font-size: 1.2em

nav
    float: left
    height: calc(100vh - 35px)
    width: 250px

main
    float: left
    max-height: calc(100vh - 35px)
    width: calc(100% - 250px - 60px)
    padding: 30px